// colors
$gray: #747474;
$darkPrimary: #005A61;
$middlePrimary: #43949A;
$primaryTransparent: rgba(#61C0C8, 0.5);
$primary: #61C0C8;
$lightPrimary: #75c6ce;

$darkSecondaryGreen: #003236;
$lightSecondaryGreen: #173f42;