@import "./config.scss";

@mixin editor-button-style {
    background-color: $middlePrimary;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
        background-color: $primary;
    }
}

@mixin editor-dropdown-button-style {
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

@mixin editor-input-style {
    outline: none;
    border: none;
    // width: 100%;
    border: 2px solid $middlePrimary;
    margin: 0;
    padding: 2px;
    border-radius: 8px;
    overflow: hidden;
}