@import "./config.scss";

@mixin table-style {
    width: 100%;
    margin: 0;
    text-align: left;
    border-collapse: collapse;
    thead {
        user-select: none;

        tr {
            border-bottom: 1px solid $darkPrimary;
        }
    }

    tr {
        padding: 5px;

        td:first-of-type {
            user-select: none;
        }

        td, th {
            padding: 5px 10px;
            width: 50%;
            
            &:first-of-type {
                border-right: 1px solid $darkPrimary;
            }
        }
    }
}